{% extends "base.html" %}

{% block header %}
{% include "../elements/navbar.html" %}
{% endblock header %}

{% block content %}

<div>
    {% if user.is_authenticated %}
    <main class="mt-24">
        <div class="container">
            <h1 class="text-center">Création d'un livre</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}">
                </div>
                <div class="form-group">
                    <label for="author">Auteur</label>
                    <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}">
                </div>
                <div class="form-group">
                    <label for="cover">Couverture</label>
                    <input type="file" class="form-control" id="cover" name="cover" value="{{ book.cover }}">
                </div>
                <div class="form-group">
                    <label for="publisher">Editeur</label>
                    <input type="text" class="form-control" id="publisher" name="publisher"
                           value="{{ book.publisher }}">
                </div>
                <div class="form-group">
                    <label for="collection">Collection</label>
                    <input type="text" class="form-control" id="collection" name="collection"
                           value="{{ book.collection }}">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" value="{{ book.genre }}">
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </main>
    {% endif %}
</div>

{% endblock %}

{% block footer %}
{% include "../elements/footer.html" %}
{% endblock footer %}