{% extends "base.html" %}

{% block header %}
{% include "../elements/navbar.html" %}
{% endblock header %}

{% block content %}

<div>
    <main class="mt-24">
        <div class="container">
            <h1>{% if form.instance.pk %}Modifier{% else %}Créer{% endif %} un groupe de lecture</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.name.errors }}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                {{ form.description.errors }}
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>
                {{ form.date.errors }}
                <div class="form-group">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
                {{ form.book_id.errors }}
                <div class="form-group">
                    {{ form.book_id.label_tag }}
                    {{ form.book_id }}
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </main>
</div>

{% endblock %}

{% block footer %}
{% include "../elements/footer.html" %}
{% endblock footer %}
