{% extends "base.html" %}

{% block header %}
{% include "../elements/navbar.html" %}
{% endblock header %}

{% block content %}

<div>
    <main class="mt-24">
        <div class="container">
            <h1>Liste des groupes de lecture</h1>
            <a class="btn btn-info" href="/group/create">Créer un groupe de lecture</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom du groupe</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.description }}</td>
                    <td>{{ group.date }}</td>
                    <td>
                        <a href="/group/{{group.id}}" class="btn btn-info">Info</a>
                        <a class="btn btn-primary" href="/group/{{group.id}}/join">Rejoindre ce groupe</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>

{% endblock %}

{% block footer %}
{% include "../elements/footer.html" %}
{% endblock footer %}
